<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      color: #fff;
    }

    .nav-item {
      list-style: none;
      display: inline-block;
      margin-right: 20px;
    }

    .nav-link {
      text-decoration: none;
      color: #fff;
    }
  </style>
</head>
<body>
<header class="d-flex justify-content-center py-3">
  <ul class="nav nav-pills">
    <li class="nav-item"><a href="/Moderator/ManufacturerProduct/Index" class="nav-link">Производитель</a></li>
    <li class="nav-item"><a href="/Moderator/ProductCategory/Index" class="nav-link">Категория</a></li>
    <li class="nav-item"><a href="/Moderator/Product/Index" class="nav-link">Товар</a></li>
    <li class="nav-item"><a href="/Moderator/Schedule/Index" class="nav-link">График</a></li>
    <li class="nav-item"><a href="/Moderator/Shop/Index" class="nav-link">Магазин</a></li>
  </ul>
</header>
</body>
</html>